= nested_form_for(@order) do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"

      %ul
      - @order.errors.full_messages.each do |msg|
        %li= msg

  .field
    = f.label :comment
    = f.text_area :comment

  %div.product_list
    %h3 List of products to order
    = f.fields_for :line_items do |line_item_form|
      = line_item_form.select(:product_id, Product.all.map { |p| [p.name, p.id] })
      = line_item_form.text_field :amount_needed, class: "input-mini"
      = line_item_form.link_to_remove "Remove this product"

    %p= f.link_to_add "Add a product", :line_items

  .actions
    = f.submit class: "btn"
