%h1= "Order #{@order.number}"

%p
  Comment:
  = @order.comment

%div
  - if @order.line_items.present?
    Products:
    %ul
    - @order.line_items.each do |line_item|
      %li
        = link_to line_item.product.name, line_item.product
        \-
        = line_item.amount_needed
  - else
    No products added yet

= link_to "Orders", orders_path