%h1 Listing products

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th{style: "width: 2%"} Number
    %th{style: "width: 12%"} Picture
    %th{style: "width: 15%"} Name
    %th{style: "width: 35%"} Description
    %th{style: "width: 5%"} Stock
    %th{style: "width: 5%"} Price
    %th{style: "width: 20%"} Options

  - @products.each do |product|
    %tr
      %td= product.product_number
      %td= product_photo(product)
      %td= product.name
      %td= truncate product.description, length: 60
      %td= product.stock
      %td= number_to_currency product.price
      %td
        .btn-group
          = link_to 'Show', product, class: "btn"
          = link_to 'Edit', edit_product_path(product), class: "btn"
          = link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete, class: "btn"

%br

= link_to 'New Product', new_product_path
