%h1= @product.name

.row
  .span6
    %p
      = @product.description
  .span6
    = product_photo @product, "512x512"
.row
  .span12
    %p
      Stock:
      = @product.stock

    %p
      Price:
      = number_to_currency @product.price

    = link_to "Products", products_path